[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "mouse"]
	path = mouse
	url = https://github.com/ashleyh/zsh-mouse
